.wallet-balance{
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 127, 150);
    float: right;
}

.wallets .card{
    border-radius: 1rem;
    margin-bottom: 10px;;
}

.wallets img{
    float: right;
}

.modal-title {
    color: rgb(85, 127, 150);
}
.card-body{
    padding: .5rem;
}
.wallets .card a{
    width: 90%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: rgb(85, 127, 150);
}

.modal-backdrop.show {
    /* opacity: 0.1; */
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1040; */
    width: 100vw;
    height: 100vh;

}

.bZoPFN{
    overflow-x: hidden;
   
}

@media (min-width: 576px)
{

.modal-wallet {
    max-width: 600px;
}
}


.wallets .card:hover{
    border-color: rgb(92, 162, 255);
}
