.exchnage-container input{
  font-size: 20px !important;
  height: 0px;
  margin-top: 5px;
}

.idEyaG.arrow-down-icon {
    background-image: url(https://changelly.com/_next/static/images/arrow-down-309c4ee22cd5479e63282f90548061a7.svg);
}

.WqVkd .row {
    padding:0px 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.WqVkd .label {
    color: rgb(85, 127, 150);
}

.WqVkd .value {
    color: rgb(57, 66, 71);
    margin-left: 0.7rem;
    font-weight: 600;
}


.exchnage-container{padding-bottom: 50px}
.hfOMXj {
    box-shadow: rgba(128, 163, 182, 0.098) 0px 0px 20px;
    margin: 1.6rem -2rem;
    padding: 0px 20px;
    background: white;
    border-radius: 8px;
    transition: box-shadow 0.25s ease 0s;
    margin: auto;
    width: 500px;
}

.idEyaG {
    display: inline-block;
    width: 1rem;
    height: 0.6rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.eaQuem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.eaQuem .accordion-toggle-button {
    cursor: pointer;
    transform: rotate(0deg);
    padding: 1.5rem 0px 1.5rem 1.5rem;
}

.idEyaG.arrow-down-icon {
    background-image: url(https://changelly.com/_next/static/images/arrow-down-309c4ee22cd5479e63282f90548061a7.svg);
}

.cGhoPf {
    position: relative;
}

.fzipjT .switch-block {
    position: relative;
    min-height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fzipjT .switch-block .left-side {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fzipjT .rate-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(85, 127, 150);
    font-family: Montserrat, sans-serif;
}

.fzipjT .exchange-switch-button {
    width: 32px;
    height: 32px;
    line-height: 45px;
    cursor: pointer;
    padding: 0px;
    background: rgba(128, 163, 182, 0.1);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 100%;
    outline: none;
}

.fzipjT .switch-block .exchange-switch-button svg {
    position: relative;
    top: -6px;
    left: 1px;
}



.kMBCJS {
    font-size: 18px;
    line-height: 32px;
    color: rgb(57, 66, 71);
    margin-top: 0.8rem;
    text-align: left;
}



.dVuRDF:only-of-type {
    margin-left: 0px;
    margin-right: 0px;
}

.dVuRDF:last-child {
    margin-right: 0px;
}

.dVuRDF:first-child {
    margin-left: 0px;
}

.dVuRDF {
    display: inline-block;
    position: relative;
    min-width: 144px;
    max-width: none;
    width: 100%;
    height: 48px;
    line-height: 46px;   
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 1.2rem 0px;
    padding: 0px 1.2rem;
    background: rgb(16, 208, 120);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(16, 208, 120);
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    outline: 0px;
    transition: all 0.25s ease 0s;
}



.rGnYa:first-child {
    margin-top: 0px;
}

.rGnYa {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 64px;
    margin: 1.5rem 0px;
    background: white;
}

.rGnYa:first-child {
    margin-top: 0px;
}






.fnSKbw {
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(85, 127, 150);
}

.kOrXCB {
    counter-reset: step-counter 0;
    
    font-size: 1.6rem;
    color: rgb(57, 66, 71);
    display: block;
    position: absolute;
    top: 64px;
    width: 100%;
    max-height: 360px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    list-style: none;
    margin: 0px;
    padding: 0px 0px 1rem;
    background: white;
    border-radius: 4px;
}
.kaUqox {
    display: inline-block;
    width: 100%;
    background: white;
    margin: 0px;
    padding: 2rem 2rem 1rem;
}
.kaUqox input {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 2.5rem);
    margin-left: 0.5rem;
    line-height: 1.43;
    font-size: 18px;
    color: rgb(57, 66, 71);
    padding: 0px 1rem;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
}

.ioLDbv.ioLDbv.ioLDbv {
    max-width: 500px;
    margin: 1rem auto;
    background: white;
    padding: 20px;
}
.csjjeQ .selector-box {
    width: 100%;
    max-width: 284px;
}

.csjjeQ .selector-box .selector-wrapper {
    margin-top: -1.6rem;
}

.dtSYJd:last-child {
    margin-bottom: 0px;
}

.dtSYJd:first-child {
    margin-top: 0px;
}

.gpqZKs {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 48px;
    line-height: 46px;
 
    font-size: 1.6rem;
    color: rgb(57, 66, 71);
    margin: 0px;
    padding: 0px 0px 0px 1.6rem;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(128, 163, 182, 0.1);
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    outline: 0px;
    transition: border 0s ease 0s;
}
.dtSYJd {
    display: inline-flex;
    position: relative;
    width: 100%;
    
    color: rgb(16, 208, 120);
    padding: 1.6rem 0px 0px;
    margin: 1.2rem 0px;
}
.csjjeQ .label {
    font-size: 16px;
    line-height: 24px;
    
    color: rgb(57, 66, 71);
}
.csjjeQ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 22px;
}

.iEQJel {
    cursor: pointer;
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    padding: 0px;
    display: inline-block;
    
}

.bOMLKt{
    display: inline-block;
    width: 96%;
}
.bOMLKt input {
    display: inline-block;
    vertical-align: middle;
    /* width: calc(100% - 2.5rem); */
    margin-left: 0.5rem;
    line-height: 1.43;
    font-size: 18px;
    color: rgb(57, 66, 71);
    padding: 10px 1rem;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    font-size: 14px !important;
}


.jRcMnK {
    background: white;
    border-bottom: 1px solid rgba(128, 163, 182, 0.1);
    padding: 2rem 1.7rem;
}



.jRcMnK {
    background: white;
    border-bottom: 1px solid rgba(128, 163, 182, 0.1);
    padding: 2rem 1.7rem;
}
.jCKRds {
    display: inline-block;
    vertical-align: top;
    width: 108px;
    height: 64px;
    position: absolute;
    
}
.jRcMnK {
    background: white;
    border-bottom: 1px solid rgba(128, 163, 182, 0.1);
    padding: 2rem 1.7rem;
}

.gKLAiY {
    height: auto;
    max-height: 34rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
    border-radius: 0px;
}

.gKLAiY {
    counter-reset: step-counter 0;
    display: block;
   
    font-size: 1.6rem;
    color: rgb(57, 66, 71);
    height: calc(100% - 6rem);
    padding: 0px;
    list-style: none;
    margin: 0px;
    background: white;
    overflow: auto;
    overscroll-behavior: contain;
}

.rGnYa:last-child {
    margin-bottom: 0px;
}



.biCxOe {
    position: absolute;
    top: 9px;
    left: 12px;
    margin-bottom: 5px;;
    font-size: 14px;
    font-weight: 600;
    color: rgb(85, 127, 150);
}

.KHQcz {
    
}

.currency-block .bottom-label{
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 127, 150);
    margin-left: 5px;    
}

.currency-block .bottom-label text{
    font-weight: normal;
}
.bZzVdI{
    margin-bottom: 2px;;
}


.bZzVdI .cl-droplist li {
    color: rgb(85, 127, 150);
}

.ZfCCL {
    counter-increment: none;
    display: block;
    position: relative;
    height: 48px;
    line-height: 48px;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: rgb(57, 66, 71);
    margin: 0px;
    padding: 0px;
}


.bZzVdI .cl-droplist li .active {
    color: rgb(16, 208, 120);
}

.bZzVdI .cl-droplist li button {
    padding-left: 10px;
}

.iEQJel {
    cursor: pointer;
    background: transparent;
    border-width: 0px;
    border-style: none;
    border-style: initial;
    border-color: currentColor;
    border-color: initial;
    border-image: none;
    border-image: initial;
    outline: 0px;
    padding: 0px;
    display: inline-block;
}
.cCVEey.active {
    background: rgba(16, 208, 120, 0.1);
}

.bZzVdI .cl-droplist li .coin-list-item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.bZzVdI .cl-droplist li .coin-info {
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.bZzVdI .cl-droplist li .coin-icon {
    position: relative;
    top: -1px;
}

.bZzVdI .cl-droplist li .coin-icon {
    width: 35px;
    height: 35px;
    line-height: 28px;
    font-size: 1.8rem;
    color: rgb(16, 208, 120);
    text-align: center;
    margin: 0px .8rem 0px 0px;    
    /* border-radius: 8px; */
    border: 1px solid #dee2e6;
    border-radius: 50%;    
    background: #f8f9fa;
}

.coin-icon {
    display: inline-block;
    vertical-align: middle;
    font-family: CryptoCoins;
    font-size: 1.6rem;
    font-style: normal;
}

.cCVEey {
    display: block;
    width: 100%;
    height: inherit;
    line-height: inherit;
    color: inherit;
    text-align: left;
    cursor: pointer;
    margin: 0px;
    padding: 0px 0.8rem;
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
}

.bZzVdI .cl-droplist li .coin-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bZzVdI .cl-droplist li .coin-ticker {
    
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 12px 0px 0px;
}

.bZzVdI .cl-droplist li .icons {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.bZzVdI .cl-droplist li .fixed-rate-status {
    display: flex;
    align-content: center;
    margin-right: 10px;
}


.bZzVdI .cl-droplist li {
    color: rgb(85, 127, 150);
}

.ZfCCL {
    counter-increment: none;
    display: block;
    position: relative;
    height: 48px;
    line-height: 48px;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: rgb(57, 66, 71);
    margin: 0px;
    padding: 0px;
}


.connect-wallet{
    max-width: 539px;
    margin: 1rem auto;
    background: white;
    padding: 20px;
    margin-bottom: 40px;
}

.connect-wallet a{
    float: right;
    padding: 10px 20px;
    background: white;
    transition: box-shadow 0.25s ease 0s;
    font-size: 14px;
    font-weight: 600;
    color: rgb(85, 127, 150);
    border: 1px solid  rgb(223, 224, 226);
}

.bZzVdI .cl-droplist li {
    color: rgb(85, 127, 150);
}

.ZfCCL.subhead {
    height: auto;
    line-height: 1.43;
    color: rgb(179, 180, 180);
    margin: 0.9rem 1rem 0.3rem;
}

.ZfCCL {
    counter-increment: none;
    display: block;
    position: relative;
    height: 48px;
    line-height: 48px;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: rgb(57, 66, 71);
    margin: 0px;
    padding: 0px;
}


.rate-detail{
    display: flex;
  flex-wrap: nowrap;
}

.rate-detail > .bottom-label {
    width: 50%;
    text-align: left;
  }

.waiting_payment{
    box-shadow: rgba(128, 163, 182, 0.098) 0px 0px 20px;
    /* margin: 1.6rem -2rem; */
    /* padding: 2.2rem 2rem; */
    background: white;
    border-radius: 8px;
    transition: box-shadow 0.25s ease 0s;
    min-height: 50px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.rate-detail .bottom-label p{font-size: 1rem;   
    color: #212529;
}
.waiting_payment .waiting-text{
    margin-bottom: 0px;
}
.waiting_payment .waiting-time,.waiting_payment .amount{
    margin-bottom: 5px;
}
.waiting_payment .amount, .waiting_payment .waiting-time, .trans_id{
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 127, 150);
}

.waiting_payment button,.btn-back
{
    padding-left: 15px;
    padding-right: 15px;
    border-color: #dae0e5;
}

.trans-detail p{
    margin-bottom: 0px;
}

.hEMJGK {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(255, 176, 0, 0.4) 0px 0px 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: white;
    z-index: 1;
    padding: 8px 12px;
    background: rgb(255, 176, 0);
    border-radius: 4px;
}
.hEMJGK::after {
    content: " ";
    position: absolute;
    top: -8px;
    left: 16px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 176, 0);
}

